.header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aqua;
    background: linear-gradient(to right, #b8c1c4, #a5068d);
    font-size: 20px;
}

.SearchInput{
    width: 300px;
    font-size: 18px;
        margin-left: 5px;
        border-radius: 4px;
        font-weight: 500;
}
.SearchButton{
    background-color: greenyellow;
    font-size: 18px;
    margin-left: 5px;
    border-radius: 4px;
    font-weight: 500;
}
